<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gwt_federatedlogin.html</welcome-file>
  </welcome-file-list>

  <!-- ===================== Login AOL Servlet ===================== -->
  <servlet>
    <servlet-name>loginAol</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginAol</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginAol</servlet-name>
    <url-pattern>/loginAol</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginAolCallback</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginAolCallback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginAolCallback</servlet-name>
    <url-pattern>/loginAolCallback</url-pattern>
  </servlet-mapping>


  <!-- ===================== Login Google Servlet ===================== -->
  <servlet>
    <servlet-name>loginGoogle</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginGoogle</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginGoogle</servlet-name>
    <url-pattern>/loginGoogle</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginGoogleCallback</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginGoogleCallback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginGoogleCallback</servlet-name>
    <url-pattern>/loginGoogleCallback</url-pattern>
  </servlet-mapping>

  <!-- ===================== Login MyOpenId Servlet ===================== -->
  <servlet>
    <servlet-name>loginMyOpenId</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginMyOpenId</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginMyOpenId</servlet-name>
    <url-pattern>/loginMyOpenId</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginMyOpenIdCallback</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginMyOpenIdCallback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginMyOpenIdCallback</servlet-name>
    <url-pattern>/loginMyOpenIdCallback</url-pattern>
  </servlet-mapping>


  <!-- ===================== Login Yahoo Servlet ===================== -->
  <servlet>
    <servlet-name>loginYahoo</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginYahoo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginYahoo</servlet-name>
    <url-pattern>/loginYahoo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginYahooCallback</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.servlets.login.LoginYahooCallback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginYahooCallback</servlet-name>
    <url-pattern>/loginYahooCallback</url-pattern>
  </servlet-mapping>


  <!-- ===================== Login Service ===================== -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.arjunsatyapal.gwtfederatedlogin.server.service.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/gwt_federatedlogin/loginService</url-pattern>
  </servlet-mapping>


</web-app>
