<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"   
  id="WebApp_ID"
  version="2.5">


  <!-- ===================== Login Service ===================== -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.metadot.book.connectr.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/connectr/loginService</url-pattern>
  </servlet-mapping>


  <!-- ===================== Login Google Servlet ===================== -->

  <servlet>
    <servlet-name>logingoogle</servlet-name>
    <servlet-class>com.metadot.book.connectr.server.servlets.LoginGoogleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logingoogle</servlet-name>
    <url-pattern>/logingoogle</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logingooglecallback</servlet-name>
    <servlet-class>com.metadot.book.connectr.server.servlets.LoginGoogleCallbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logingooglecallback</servlet-name>
    <url-pattern>/logingooglecallback</url-pattern>
  </servlet-mapping>
  


  <!-- filter: this filter ensures users are logged in before accessing those 
    mapped servlets -->
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.metadot.book.connectr.server.servlets.LoginFilter</filter-class>
  </filter>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ConnectrApp.html</welcome-file>
  </welcome-file-list>


</web-app>
