<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="
        http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

 <servlet>
    <servlet-name>OAuthLoginServlet</servlet-name>
    <servlet-class>com.arjunsatyapal.oauth2.login.OAuthLoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OAuthLoginServlet</servlet-name>
    <url-pattern>/oauthLogin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>com.arjunsatyapal.oauth2.OAuthServlet</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>OAuthLoginCallbackServlet</servlet-name>
    <servlet-class>com.arjunsatyapal.oauth2.login.OAuthLoginCallbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OAuthLoginCallbackServlet</servlet-name>
    <url-pattern>/oauthLoginCallback</url-pattern>
  </servlet-mapping>

<!--   <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/oauth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OAuthCallbackServlet</servlet-name>
    <servlet-class>com.arjunsatyapal.oauth2.OAuthCallbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OAuthCallbackServlet</servlet-name>
    <url-pattern>/oauthCallback</url-pattern>
  </servlet-mapping> -->
</web-app>
